.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 20px auto;
  justify-content: center;
}

.card {
  margin: 10px;
  flex-basis: 31%;
  text-align: center;
  border: 3px solid salmon;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  background-color: lightblue;
}

.card img {
  max-width: 200px;
}
